body {
  background: url('../resources/bcg.png');
}

h1 {
  font-family: 'Droid Sans', sans-serif;
  letter-spacing: 4px;
  color: turquoise;
  text-align: center;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
}

.canvas-container {
  position: relative;
  width: 288px;
  height: 511px;
  margin: 0 auto;

  /*#birdie {
    z-index: 4;
  }

  #pipes {
    z-index: 3;
  }

  #ground {
    z-index: 2;
  }

  #background {
    z-index: 1;
  }*/
}

canvas {
  margin: 20px 0;
  border: 1px solid rgba(0, 50, 100, 0.4);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);

  position: absolute;
  top: 0;
  left: 0;
}

::selection {
  background: transparent;
}